{% extends 'index.html' %}

{% load static %}

{% block content %}
<style>
    .editor__container {
        width: 100vw;
        height: 100vh;
        background-color: #fefefe;
    }

    .editor__control__container {
        background-color: #F2EBFF;
        width: 155px;
        height: 50px;
        border-radius: 10px;
        position: absolute;
        top: calc(100vh - 100px);
        left: calc(50vw - 72.5px);
        display: flex;
        align-items: center;
        padding: 0 5px;
        z-index: 997;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .editor__control__svg {
        width: 155px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        z-index: 998;
    }

    .editor__control__button {
        width: 30px;
        height: 30px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 999;
        margin: 0 5px;
    }

    .editor__control__button > svg {
        width: 30px;
        height: 30px;
    }

    .editor__control__button > svg > path {
        fill: #6A43B1;
        transition: .2s ease-in-out;
    }

    .editor__control__button:hover > svg > path {
        fill: #3B2664;
    }
</style>
<div class="editor__container">
   
    <!-- Editor Controls -->
    <div class="editor__control__container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 155 50" class="editor__control__svg">
            <rect stroke="none" fill="#C8D1EE" x="5" y="5" width="40" height="40" rx="8" />
        </svg>
        <button class="editor__control__button">
            {% include 'svg/hand.svg.html' %}
        </button>
        <button class="editor__control__button">
            {% include 'svg/text.svg.html' %}
        </button>
        <button class="editor__control__button">
            {% include 'svg/cpu.svg.html' %}
        </button>
        <button class="editor__control__button">
            {% include 'svg/lightning.svg.html' %}
        </button>
        
        
    </div>

</div>
{% endblock %}